PORT=5000
JWT_SECRET=change-me
DAILY_FINE=5
SUPABASE_URL=https://qntqjpdxtydylcutusqy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFudHFqcGR4dHlkeWxjdXR1c3F5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjMyNzE1MiwiZXhwIjoyMDkxOTAzMTUyfQ.zaplRzvS_hXH_yR_4TxkLZHRRIxMAYxQN2e-hnd4-9MeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFudHFqcGR4dHlkeWxjdXR1c3F5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjMyNzE1MiwiZXhwIjoyMDkxOTAzMTUyfQ.zaplRzvS_hXH_yR_4TxkLZHRRIxMAYxQN2e-hnd4-9M
VITE_SUPABASE_URL=https://qntqjpdxtydylcutusqy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFudHFqcGR4dHlkeWxjdXR1c3F5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMjcxNTIsImV4cCI6MjA5MTkwMzE1Mn0.FqbuHe9zbWig_kkFmOEl7WEvZiGC3acHcFG9aqgXqvc
VITE_AUTH_REDIRECT_URL=http://localhost:5000/auth/callback
