DATABASE_URL=postgresql://postgres.<project-ref>:<password>@aws-0-<region>.pooler.supabase.com:6543/postgres?sslmode=require
PORT=5000
VITE_XANO_AUTH_URL=https://x8ki-letl-twmt.n7.xano.io/api:BMqU1wcT
VITE_XANO_LOGS_URL=https://x8ki-letl-twmt.n7.xano.io/api:weTZSjfS
VITE_XANO_ACCOUNT_URL=https://x8ki-letl-twmt.n7.xano.io/api:QMYt1FxO
VITE_XANO_SMS_URL=https://x8ki-letl-twmt.n7.xano.io/api:Ve8Pd6JF
